version: "3.5"
services:
  operator:
    build:
      context: operator
      args:
        UPSTREAM_VERSION: v2.0.3.restaking
        STAKER_SCRIPTS_VERSION: v0.1.0
        DATA_DIR: /app/data
    restart: unless-stopped
    volumes:
      - database:/app/data/database
      - stakewise:/app/data/config/stakewise
      - mnemonic:/app/data/config/mnemonic
    environment:
      - VAULT_CONTRACT_ADDRESS
      - VALIDATORS_NUMBER
      - LOG_LEVEL=INFO
      - EXTRA_OPTS
volumes:
  database: {}
  stakewise: {}
  mnemonic: {}
